.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 40px); /* 9 columns of 40px width */
    gap: 2px; /* between cells */
    margin-bottom: 20px;
}

.row {
    display: contents;
    /*
    This is a bit hard to explain but basically, since the grid is being
    displayed as a grid - 9 columns - each row is being passed separately
    and so we want these divs to be "passed up" without any formatting
    straight to the grid above.
  
    display: contents effectively makes the <div class-'row'> invisible to
    the grid layout, treating the Cell objects within as direct children
    of the grid.
    */
  }